[net]
width=640
height=640
channels=3
letter_box=1

# Focus

[reorg]

[convolutional]
batch_normalize=1
filters=48
size=3
stride=1
pad=1
activation=silu

# Conv

[convolutional]
batch_normalize=1
filters=96
size=3
stride=2
pad=1
activation=silu

# C3

[convolutional]
batch_normalize=1
filters=48
size=1
stride=1
pad=0
activation=silu

[route]
layers=-2

[convolutional]
batch_normalize=1
filters=48
size=1
stride=1
pad=0
activation=silu

[convolutional]
batch_normalize=1
filters=48
size=1
stride=1
pad=0
activation=silu

[convolutional]
batch_normalize=1
filters=48
size=3
stride=1
pad=1
activation=silu

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=48
size=1
stride=1
pad=0
activation=silu

[convolutional]
batch_normalize=1
filters=48
size=3
stride=1
pad=1
activation=silu

[shortcut]
from=-3
activation=linear

[route]
layers=-1, -9

[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=0
activation=silu

# Conv

[convolutional]
batch_normalize=1
filters=192
size=3
stride=2
pad=1
activation=silu

# C3

[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=0
activation=silu

[route]
layers=-2

[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=0
activation=silu

[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=0
activation=silu

[convolutional]
batch_normalize=1
filters=96
size=3
stride=1
pad=1
activation=silu

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=0
activation=silu

[convolutional]
batch_normalize=1
filters=96
size=3
stride=1
pad=1
activation=silu

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=0
activation=silu

[convolutional]
batch_normalize=1
filters=96
size=3
stride=1
pad=1
activation=silu

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=0
activation=silu

[convolutional]
batch_normalize=1
filters=96
size=3
stride=1
pad=1
activation=silu

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=0
activation=silu

[convolutional]
batch_normalize=1
filters=96
size=3
stride=1
pad=1
activation=silu

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=0
activation=silu

[convolutional]
batch_normalize=1
filters=96
size=3
stride=1
pad=1
activation=silu

[shortcut]
from=-3
activation=linear

[route]
layers=-1, -21

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=0
activation=silu

# Conv

[convolutional]
batch_normalize=1
filters=384
size=3
stride=2
pad=1
activation=silu

# C3

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=0
activation=silu

[route]
layers=-2

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=0
activation=silu

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=0
activation=silu

[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=silu

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=0
activation=silu

[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=silu

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=0
activation=silu

[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=silu

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=0
activation=silu

[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=silu

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=0
activation=silu

[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=silu

[shortcut]
from=-3
activation=linear

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=0
activation=silu

[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=silu

[shortcut]
from=-3
activation=linear

[route]
layers=-1, -21

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=0
activation=silu

# Conv

[convolutional]
batch_normalize=1
filters=768
size=3
stride=2
pad=1
activation=silu

# SPP

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=0
activation=silu

[maxpool]
stride=1
size=5

[route]
layers=-2

[maxpool]
stride=1
size=9

[route]
layers=-4

[maxpool]
stride=1
size=13

[route]
layers=-6, -5, -3, -1

[convolutional]
batch_normalize=1
filters=768
size=1
stride=1
pad=0
activation=silu

# C3

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=0
activation=silu

[route]
layers=-2

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=0
activation=silu

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=0
activation=silu

[convolutional]
batch_normalize=1
filters=384
size=3
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=0
activation=silu

[convolutional]
batch_normalize=1
filters=384
size=3
stride=1
pad=1
activation=silu

[route]
layers=-1, -7

[convolutional]
batch_normalize=1
filters=768
size=1
stride=1
pad=0
activation=silu

# Conv

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=0
activation=silu

# Upsample

[upsample]
stride=2

# Concat

[route]
layers=-1, 61

# C3

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=0
activation=silu

[route]
layers=-2

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=0
activation=silu

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=0
activation=silu

[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=0
activation=silu

[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=silu

[route]
layers=-1, -7

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=0
activation=silu

# Conv

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=0
activation=silu

# Upsample

[upsample]
stride=2

# Concat

[route]
layers=-1, 37

# C3

[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=0
activation=silu

[route]
layers=-2

[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=0
activation=silu

[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=0
activation=silu

[convolutional]
batch_normalize=1
filters=96
size=3
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=0
activation=silu

[convolutional]
batch_normalize=1
filters=96
size=3
stride=1
pad=1
activation=silu

[route]
layers=-1, -7

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=0
activation=silu

# Conv

[convolutional]
batch_normalize=1
filters=192
size=3
stride=2
pad=1
activation=silu

# Concat

[route]
layers=-1, 92

# C3

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=0
activation=silu

[route]
layers=-2

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=0
activation=silu

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=0
activation=silu

[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=0
activation=silu

[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=silu

[route]
layers=-1, -7

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=0
activation=silu

# Conv

[convolutional]
batch_normalize=1
filters=384
size=3
stride=2
pad=1
activation=silu

# Concat

[route]
layers=-1, 80

# C3

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=0
activation=silu

[route]
layers=-2

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=0
activation=silu

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=0
activation=silu

[convolutional]
batch_normalize=1
filters=384
size=3
stride=1
pad=1
activation=silu

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=0
activation=silu

[convolutional]
batch_normalize=1
filters=384
size=3
stride=1
pad=1
activation=silu

[route]
layers=-1, -7

[convolutional]
batch_normalize=1
filters=768
size=1
stride=1
pad=0
activation=silu

# Detect

[route]
layers=103

[convolutional]
filters=66
size=1
stride=1
pad=0
activation=logistic

[yolo]
mask=0, 1, 2
anchors=10.0, 13.0, 16.0, 30.0, 33.0, 23.0, 30.0, 61.0, 62.0, 45.0, 59.0, 119.0, 116.0, 90.0, 156.0, 198.0, 373.0, 326.0
classes=17
num=9
scale_x_y=2.0
new_coords=1

[route]
layers=114

[convolutional]
filters=66
size=1
stride=1
pad=0
activation=logistic

[yolo]
mask=3, 4, 5
anchors=10.0, 13.0, 16.0, 30.0, 33.0, 23.0, 30.0, 61.0, 62.0, 45.0, 59.0, 119.0, 116.0, 90.0, 156.0, 198.0, 373.0, 326.0
classes=17
num=9
scale_x_y=2.0
new_coords=1

[route]
layers=125

[convolutional]
filters=66
size=1
stride=1
pad=0
activation=logistic

[yolo]
mask=6, 7, 8
anchors=10.0, 13.0, 16.0, 30.0, 33.0, 23.0, 30.0, 61.0, 62.0, 45.0, 59.0, 119.0, 116.0, 90.0, 156.0, 198.0, 373.0, 326.0
classes=17
num=9
scale_x_y=2.0
new_coords=1
